# ignore vendor css directories
css/animate.css/
css/bootstrap/
css/bootstrap-rtl/
css/font-awesome/
css/fonts/
css/glyphicons/
css/material-design-icons/
css/scss/

# ignore vendor libs directories
libs/

# ignore log files and databases
*.log
*.sql
*.sqlite
